# SIMURA OS — GRUB loopback config (for booting the .iso from another grub).
menuentry "Boot SIMURA OS (loopback)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux img_dev=${iso_path} img_loop=${iso_path} archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet splash loglevel=3
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
